*
{
	margin: 0;
	padding: 0;
	border: 0;
}
.wrapper
{
	width: 800px;
	margin: 10px auto;
	padding: 20px;
	background-color: antiquewhite;
}
h2
{
	margin: 20px 0;
	font-style: italic;
}
h3
{
	margin: 20px 0;
	font-weight: normal;
	color: #3053ff;
}
p
{
	margin: 20px 0;
}